@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

/* Import Fonst */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --body-color: #f4f4f4;
  --card-bg-color: #fff;
  --star-gray: #e3e3dd;
  --color-1: #31C8A5;
  --color-1-dark: #248b73;
  --color-2: #F95932;
  --color-2-dark: #d74622;
  --color-3: #FDA929;
  --color-3-dark: #cf8616;
  --text-color: #31363D;
  --primary-font: 'Poppins', sans-serif;
}

body{
  font-family: var(--primary-font);
  color: var(--text-color);
}
img{
  max-width: 100%;
}

main{
  width: 100%;
  min-height: 100vh;
  background: var(--body-color);
}

.bd-navbar {

  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95));
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);

}

/* Start Main Styles */

.carousel-item {
  width: 100%;
  height: 100vh;
}

.carousel-item img {
  height: 100%;
}

.list-product {
  margin-top: 100px;
}

.card div.image img {
  transition: 0.4s ease;
}

 .card:hover div.image img{
  transform: scale(1.2);
}
 .card:nth-child(2) div.image img{
   transform: scaleX(-1) rotate(20deg);
}
 .card:hover:nth-child(2) div.image img{
   transform: scaleX(-1) rotate(20deg) scale(1.2);
}
 .card div.text{
  padding: 20px 25px;
}
 .card div.text h3{
  font-size: calc(.5rem + 1vw);
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 15px;
}
 .card div.text p{
  font-size: calc(.5rem + .5vw);
  margin-bottom: 20px;
  opacity: .75;
}
 .card div.text h5{
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: var(--color-1);
}
 .card:nth-child(2){

  order: 2;

}
 .card:nth-child(2) div.text h5{
  color: var(--color-2);
}
 .card:nth-child(3) div.text h5{
  color: var(--color-3);
}
 .card div.rating{}
 .card div.rating i{
  color: var(--color-3);
}
 .card div.rating i:nth-child(4),
 .card div.rating i:nth-child(5){
  color: var(--star-gray);
}
 .card:nth-child(2) div.rating i:nth-child(3){
  color: var(--star-gray);
}
 .card:nth-child(3) div.rating i:nth-child(4){
  color: var(--color-3);
 }

 .card div.btn-wrapper button{
  display: block;
  width: 100%;
  outline: none;
  border: none;
  background: var(--color-1);
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  transition: backgorund .4s;
}
 .card:nth-child(2) div.btn button{
  background: var(--color-2);
}
 .card:nth-child(3) div.btn button{
  background: var(--color-3);
}
 .card div.btn button:hover{
  background: var(--color-1-dark);
}
 .card:nth-child(2) div.btn button:hover{
  background: var(--color-2-dark);
}
 .card:nth-child(3) div.btn button:hover{
  background: var(--color-3-dark);
}

@media screen and (max-width: 600px) {
  .carousel-item {
    height: 50vh;
  }
}